.spacer {
    flex: 1 1 auto;
}

.toolbar {
    background-color: #142234;
    color: white;
}

.FlexContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #142234;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 33%;
    height: 300px;
    margin: 5px;
    padding: 1em;
    /* background-color: #208CB5; */
    /* background-color: #2255A4; */
    /* background-color: #ECEFEF; */
    /* background-color: #28CCD0; */
    font-size: 14px;
    /* word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis; */
    background-color: #142234;
    line-height: 1.5em;
}

.FlexContainer .about-org {
    white-space: pre-wrap !important;
    overflow-x: hidden !important;
    text-align: justify;
    font-size: 12px;
}