<!-- <form class="search-form">
    <mat-form-field class="search-form-field">
        <span matPrefix>
      <mat-icon>search</mat-icon>
    </span>
        <input type="text" class="search-field" (keyup)="onTextChanged(searchString)" name="search" [(ngModel)]="searchString" matInput placeholder="Search">
    </mat-form-field>
</form> -->

<div class="tab-container">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef class="col-head">#</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="col-head">Name</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.firstName }}&nbsp;{{ element.lastName }}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="col-head">Email</th>
                <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="createdTime">
                <th mat-header-cell *matHeaderCellDef class="col-head">Created Time</th>
                <td mat-cell *matCellDef="let element">{{ element.createdTime }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef class="col-head">Active</th>
                <td mat-cell *matCellDef="let element">{{ element.active }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="col-head"></th>
                <td mat-cell *matCellDef="let element">

                    <button mat-flat-button class="action-btn delete-btn" (click)="onDelete(element)">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button> &nbsp;&nbsp;&nbsp;
                    <button class="action-btn edit-btn" mat-flat-button (click)="openDialog(element.emailId)">
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>


                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="atrow" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>